@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

:root {
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-13: 13px;
  --fs-12: 12px;

  --white: #ffffff;
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.navigation,
.news-types {
  border-bottom: 1px solid #edede9;
}

.news-types {
  flex-shrink: 0;
}

.page-title {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--fs-24);
  font-weight: 600;
}

.search-input-container {
  width: 350px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  border: none;
  font-size: var(--fs-14);
}

.search-input:focus {
  border: none;
  outline: none;
}

.country-title {
  font-size: var(--fs-14);
  font-weight: 500;
}

.country-select {
  font-size: var(--fs-13);
  font-weight: 400;
}

.hr {
  height: 20px;
  width: 1px;
  margin: 0;
  background-color: #edede9;
  transform: rotate(180deg);
}

.news-type-item {
  font-size: var(--fs-14);
  font-weight: 400;
  list-style: none;
  padding: 0px 20px;
  cursor: pointer;
}

.active {
  background-color: #003049;
  color: var(--white);
}

.news-container {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

#loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-card-container {
  background-color: var(--white);
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.article-image-container {
  min-width: 200px;
  max-width: 200px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
}

.article-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-content-container {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-title {
  font-size: var(--fs-16);
  font-weight: 500;
}

.article-content {
  font-size: var(--fs-13);
  font-weight: 400;
}

.article-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.read-more-btn {
  color: black;
  font-size: var(--fs-12);
  font-weight: 500;
  background-color: #edede9;
  margin: 0px;
  padding: 8px;
  border-radius: 4px;
}

.article-author,
.publisher-name,
.published-content,
li {
  font-size: var(--fs-13);
  margin: 0px;
}

li {
  margin-left: 20px;
}

.article-author {
  font-weight: 400;
}

.publisher-name {
  font-weight: 600;
}

.published-content {
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .news-types {
    display: flex;
    overflow-x: auto;
  }

  .search-input-container {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .article-card-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .article-image-container {
    min-width: 400px;
    max-width: 100%;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
  }

  .country-select {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .article-image-container {
    min-width: 100%;
    max-width: 100%;
  }

  .article-card-container {
    margin: 0 0 20px 0 !important;
    padding: 10px 0 !important;
  }

  .article-content-container {
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #edede9;
  border-radius: 4px;
}
